<footer class="footer">
  <div class="footer-content">

    <nav class="navbar navbar-top">
      <button class="nav-item" role="button" (click)="
            navigateToExternalUrl(
              'https://www.sympla.com.br/evento/devfest-bahia-2023/2197770?referrer=https://ba.devfest.com.br/'
            )
          ">
        Inscreva-se
      </button>
      <button class="nav-item" role="button" (click)="
            navigateToExternalUrl(
              'https://drive.google.com/file/d/1h7f5Abt01t93f76d99QDq5btZ3I2djGh/view'
            )
          ">
        Patrocine
      </button>
      <!-- <a routerLink="/equipe" class="colort">Organizadores</a> -->
    </nav>
    <img class="logo devfest-white-logo" alt="Devfest Logo" src="../assets/logo-white.svg" role="button"
      (click)="navigateToExternalUrl('https://www.sympla.com.br/evento/devfest-bahia-2023/2197770?referrer=https://ba.devfest.com.br/')" />
  </div>
</footer>