
<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-links">
          <a routerLink="/">Início</a>
          <a routerLink="/patrocinador">Patrocinador</a>
          <!-- <a routerLink="/sobre">Sobre</a> -->
          <a href="https://www.sympla.com.br/evento/devfest-bahia-2023/2197770?">Inscrições</a>
        </div>
        <div class="linkedin">
          <img src="assets/devfest_logo-bg.png" alt="LinkedIn">
        </div>
      </div>
    </div>
  </footer>