
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img class="logotxt"
    alt="devfest Logo"
    src="assets/devfest_logo-bg.png"
  />
  
    <div class="spacer"></div>
    <div class="header">
      <a routerLink="/ingressos" class="colort">Inscreva-se</a>
      <a routerLink="/patrocine" class="colort">Patrocine</a>
      <!-- <a routerLink="/equipe" class="colort">Organizadores</a> -->
    
    </div>
   
</div>
<!-- <img class="imgbanner"
  width="100%"
  alt="devfest Logo"
  src="assets/devfest_logo-bg.png"
  /> -->
  <div class="content">
    <div class="banner" >
      <img src="assets/bannerdev.png">
      <!-- <img style="margin-bottom: -80px; width: 400px;" src="assets/DF23_PA_At_Devfest_Announcement_v01.gif"> -->

    </div>
</div>
<div class="content" role="main">

  
</div>
<app-contador></app-contador>
<app-inscricao></app-inscricao>
<app-patrocinadores></app-patrocinadores>
<app-organizacao></app-organizacao>
<!-- <app-equipe></app-equipe> -->
<!-- <app-palestrantes></app-palestrantes> -->
<app-footer></app-footer>
