
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img class="logotxt"
    alt="devfest Logo"
    src="assets/devfest_logo-bg.png"
  />
  
    <div class="spacer"></div>
    <div class="header">
      <a routerLink="/ingressos" class="colort">Inscriçoes</a>
      <a routerLink="/patrocinadores" class="colort">Patrocínio</a>
      <a routerLink="/equipe" class="colort">Organizadores</a>
    
    </div>
   
</div>
<!-- <img class="imgbanner"
  width="100%"
  alt="devfest Logo"
  src="assets/devfest_logo-bg.png"
/> -->
<div class="content" role="main">

  
</div>
<app-ingressos></app-ingressos>
<app-sobre></app-sobre>
<!-- <app-patrocinadores></app-patrocinadores> -->
<!-- <app-equipe></app-equipe> -->
<app-footer></app-footer>
