<div class="team-organizer-container">
  <div class="team-organizer-card" [class.hovered]="isHovered" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
    <div class="organizer-details">
      <img class="avatar" src="assets/equipe-danielle.jfif" alt="Danielle Teixeira">
      <div class="name">Danielle Teixeira</div>
      <div class="role">Eng. Computação</div>
    </div>
  </div>

  <div class="team-organizer-card" [class.hovered]="isHovered" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
    <div class="organizer-details">
      <img class="avatar" src="assets/equipe-antonio.jfif" alt="Antonio Ferreira">
      <div class="name">Antonio Ferreira</div>
      <div class="role">Gerente de Engenharia</div>
    </div>
  </div>

  <div class="team-organizer-card" [class.hovered]="isHovered" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
    <div class="organizer-details">
      <img class="avatar" src="assets/equipe-igor.png" alt="Igor Bahia">
      <div class="name">Igor Bahia</div>
      <div class="role">Desenvolvedor Full Stack</div>
    </div>
  </div>

  <div class="team-organizer-card" [class.hovered]="isHovered" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
    <div class="organizer-details">
      <img class="avatar" src="assets/equipe-ed.jpeg" alt="Ediaimo Borges">
      <div class="name">Ediaimo Borges</div>
      <div class="role">Arquiteto de Software</div>
    </div>
  </div>

  <div class="team-organizer-card" [class.hovered]="isHovered" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
    <div class="organizer-details">
      <img class="avatar" src="assets/equipe-marcelo.jfif" alt="Marcelo Rangel">
      <div class="name">Marcelo Rangel</div>
      <div class="role">Eng. Software</div>
    </div>
  </div>

  <div class="team-organizer-card" [class.hovered]="isHovered" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
    <div class="organizer-details">
      <img class="avatar" src="assets/equipe-flavio.jfif" alt="Flávio Escobar">
      <div class="name">Flávio Escobar</div>
      <div class="role">Eng. Software</div>
    </div>
  </div>

  <div class="team-organizer-card" [class.hovered]="isHovered" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
    <div class="organizer-details">
      <img class="avatar" src="assets/equipe-michele.jfif" alt="Michele Santana">
      <div class="name">Michele Santana</div>
      <div class="role">GDG Organizer</div>
    </div>
  </div>

</div>