 <div class="team-organizer-card" [class.hovered]="isHovered" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
    <div class="organizer-details">
        <img class="avatar" src="assets/ed.jpeg" alt="João">
        <div class="name">João</div>
        <div class="role">Gerente de Projetos</div>
    </div>

   

      
  </div> 

  <div class="team-organizer-card" [class.hovered]="isHovered" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
    <div class="organizer-details">
        <img class="avatar" src="assets/ed.jpeg" alt="João">
        <div class="name">João</div>
        <div class="role">Gerente de Projetos</div>
    </div>

   

      
  </div> 