<div class="organizers-container">
  <h2 class="organizers">Organizaçao</h2>
  <div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="https://gdglaurodefreitasdev.firebaseapp.com/">
      <img class="organizers-logo" src="assets/GDG Lauro de Freitas Light Horizontal-Logo.png">
    </a>
    <a class="card" target="_blank" rel="noopener" href="https://gdg.community.dev/gdg-salvador/">
      <img class="organizers-logo-sm" src="assets/GDG Salvador Light Horizontal-Logo.png">
    </a>
    <a class="card" target="_blank" rel="noopener" href="https://gdglaurodefreitasdev.firebaseapp.com/">
      <img class="organizers-logo" src="assets/WTM  Light Horizontal-Logo.png">
    </a>
  </div>
</div>