<section class="speaker-section">
  <h2 class="title">Palestrantes</h2>

  <div class="speaker-container">
    <div class="speaker-card" [class.hovered]="isHovered" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
      <div class="speaker-details">
        <img class="avatar" src="assets/speakers/speaker-rubens.png" alt="Rubens Zimbres">
        <div class="name">Rubens Zimbres</div>
        <div class="role">GDE Machine Learning</div>
      </div>
    </div>

    <div class="speaker-card" [class.hovered]="isHovered" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
      <div class="speaker-details">
        <img class="avatar" src="assets/speakers/speaker-rafael.png" alt="Rafael Gomes (Gomex)">
        <div class="name">Rafael Gomes (Gomex)</div>
        <div class="role">DevOps Tech Lead na DNS Filter</div>
      </div>
    </div>

    <div class="speaker-card" [class.hovered]="isHovered" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
      <div class="speaker-details">
        <img class="avatar" src="assets/speakers/speaker-rodolfo.png" alt="Rodolfo Silva">
        <div class="name">Rodolfo Silva</div>
        <div class="role">CTO da Infleet</div>
      </div>
    </div>

    <div class="speaker-card" [class.hovered]="isHovered" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
      <div class="speaker-details">
        <img class="avatar" src="assets/speakers/speaker-fabi.png" alt="Fabi Rodrigues (Frontfabi)">
        <div class="name">Fabi Rodrigues (Frontfabi)</div>
        <div class="role">Front-end Developer no Itaú Unibanco</div>
      </div>
    </div>

    <div class="speaker-card" [class.hovered]="isHovered" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
      <div class="speaker-details">
        <img class="avatar" src="assets/speakers/speaker-aline.png" alt="Aline Ayres">
        <div class="name">Aline Ayres</div>
        <div class="role">Lead Consultant at ThoughtWorks</div>
      </div>
    </div>

    <div class="speaker-card" [class.hovered]="isHovered" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
      <div class="speaker-details">
        <img class="avatar" src="assets/speakers/speaker-lucas.png" alt="Lucas Amparo">
        <div class="name">Lucas Amparo</div>
        <div class="role">Pesquisador (Visão Computacional, IA e Robótica)</div>
      </div>
    </div>

    <div class="speaker-card" [class.hovered]="isHovered" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
      <div class="speaker-details">
        <img class="avatar" src="assets/speakers/speaker-alvaro.png" alt="Alvaro Huanca">
        <div class="name">Alvaro Huanca</div>
        <div class="role">GDE Google Cloud</div>
      </div>
    </div>

    <div class="speaker-card" [class.hovered]="isHovered" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
      <div class="speaker-details">
        <img class="avatar" src="assets/speakers/speaker-rabelo.png" alt="Rabelo Filho">
        <div class="name">Rabelo Filho</div>
        <div class="role">Engenheiro de Computação | Docente IFBA</div>
      </div>
    </div>

    <div class="speaker-card" [class.hovered]="isHovered" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
      <div class="speaker-details">
        <img class="avatar" src="assets/speakers/speaker-ramon.png" alt="Ramon Mota ">
        <div class="name">Ramon Mota </div>
        <div class="role">Consultor Mobile Android na ThoughtWorks</div>
      </div>
    </div>

    <div class="speaker-card" [class.hovered]="isHovered" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
      <div class="speaker-details">
        <img class="avatar" src="assets/speakers/speaker-vitoria.png" alt="Vitória de Jesus Nunes">
        <div class="name">Vitória de Jesus Nunes</div>
        <div class="role">SEO Analyst na Flash | Embaixadora da Niara.AI | Mentora de Conteúdo e SEO.</div>
      </div>
    </div>

    <div class="speaker-card" [class.hovered]="isHovered" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
      <div class="speaker-details">
        <img class="avatar" src="assets/speakers/speaker-emanuele.png" alt="Emanuele Rangel">
        <div class="name">Emanuele Rangel</div>
        <div class="role">Desenvolvedora Back-End Avanade</div>
      </div>
    </div>

    <div class="speaker-card" [class.hovered]="isHovered" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
      <div class="speaker-details">
        <img class="avatar" src="assets/speakers/speaker-camila.png" alt="Camilla Martins">
        <div class="name">Camilla Martins</div>
        <div class="role">GDE Google Cloud</div>
      </div>
    </div>

    <div class="speaker-card" [class.hovered]="isHovered" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
      <div class="speaker-details">
        <img class="avatar" src="assets/speakers/speaker-ana.png" alt="Ana Luísa Dias">
        <div class="name">Ana Luísa Dias</div>
        <div class="role">Senior Android Engineer no iFood</div>
      </div>
    </div>

    <div class="speaker-card" [class.hovered]="isHovered" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
      <div class="speaker-details">
        <img class="avatar" src="assets/speakers/speaker-marcos.png" alt="Marcos Silva">
        <div class="name">Marcos Silva</div>
        <div class="role">CEO da SSIG</div>
      </div>
    </div>

    <div class="speaker-card" [class.hovered]="isHovered" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
      <div class="speaker-details">
        <img class="avatar" src="assets/speakers/speaker-leandro.png" alt="Leandro Matos">
        <div class="name">Leandro Matos</div>
        <div class="role">Community Manager First Class</div>
      </div>
    </div>

    <div class="speaker-card" [class.hovered]="isHovered" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
      <div class="speaker-details">
        <img class="avatar" src="assets/speakers/speaker-danielle.jfif" alt="Danielle Teixeira">
        <div class="name">Danielle Teixeira</div>
        <div class="role">Eng. Computação</div>
      </div>
    </div>

  </div>
</section>