.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 752px;
  margin: 0 16px 0 16px;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 16px;
  width: 100%;
  padding: 30px;
  border: 4px solid #f9ab00;

  text-align: center;
  font-size: 18px;
}

.card-video {
  position: relative;
  width: 100%;
  max-width: 680px;
  padding-bottom: 56.25%;
}

youtube-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.whatsdev {
  margin-top: 20px;
  text-align: justify;
}

.whatsdev.last {
  margin-bottom: 20px;
}

.btnInscription {
  all: unset;
  box-sizing: border-box;
  list-style: none;
  appearance: none;

  display: inline-flex;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 70px;

  font-family: "JetBrains Mono", monospace;
  font-size: 22px;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
  color: #24292e;

  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: box-shadow 0.15s, transform 0.15s;
  will-change: box-shadow, transform;

  background-color: #f9ab00;
  border: 4px solid #f9ab00;
  border-radius: 50px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #ffce62 0 -3px 0 inset;

  padding-left: 16px;
  padding-right: 16px;
}


.btnInscription:focus {
  box-shadow: #ffce62 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #ffce62 0 -3px 0 inset;
}

.btnInscription:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #ffce62 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btnInscription:active {
  box-shadow: #ffce62 0 3px 7px inset;
  transform: translateY(2px);
}