<div class="contador-container">
    <h1>25 de Novembro de 2023</h1>
    <h2>Evento presencial, UNIME Lauro de Freitas</h2>
    <p >Av.Luiz Tarquínio Pontes, 600 - Fazenda Pitangueira, Lauro de Freitas - BA, 42700-000</p>
  </div>

  <div class="countdown">
    <h2>Contagem regressiva para o DevFest Bahia 2023</h2>
  </div>
  <!-- <audio #audioPlayer controls [src]="audioPath" preload="auto"></audio> -->

  <div class="grid-container">
    <div class="grid-item item1"><p class="title">{{ days }}</p>
      <p class="subtitle">
        dias
      </p>
    </div>
    <div class="grid-item item2"><p class="title">{{ hours }}</p><p class="subtitle"> horas</p></div>
    <div class="grid-item item3"><p class="title">{{ minutes }}</p><p class="subtitle">minutos</p></div>
    <div class="grid-item item4"><p class="title">{{ seconds }}</p> <p class="subtitle">segundos</p></div>
  </div>