.countdown-container {
  display: flex;
  flex-direction: column;

  font-size: 1.5rem;
  text-align: center;

}

.countdown-title {
  margin-bottom: 2rem;
}

.grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  max-width: 260px;
  height: 200px;
}

.item1 {
  background-color: #2B83FC;
  color: white;
  border-radius: 10px;
  text-align: center;
  width: 260px;
}
.title {
  font-size: 48px;
  font-weight: 600;
}

.subtitle {
  font-size: 30px;
}

.item2 {
  background-color: #EA4335;
  color: white;
  border-radius: 10px;
  text-align: center;
  width: 260px;
}

.item3 {
  background-color: #00AC47;
  color: white;
  border-radius: 10px;
  text-align: center;
  width: 260px;
}

.item4 {
  background-color: #F9AB00;
  color: white;
  border-radius: 10px;
  text-align: center;
  width: 260px;
}

@media (max-width: 1104px) {
  .countdown-container {
    width: 100%;
    max-width: 536px;
    justify-content: center;
  }
}